<!--<pre>{{ students | json }}</pre>-->

<ng-container *ngFor="let student of students | sort: 'sortName'">

  <!-- STUDENT CARDS -->
  <div
    class="card m-3 d-inline-block"
    (click)="student.isSelected = !student.isSelected"
    [ngClass]="{'card-selected': student.isSelected}"
    *ngIf="!student.isEnrolled"
  >

    <div class="card-body">

      <!-- Student View Button -->
      <div class="btn btn-info btn-student-info" (click)="$event.stopPropagation()"
           routerLink="/student/{{student.login.uuid}}">
        <i class="fas fa-user"></i>
      </div>

      <!--PIC-->
      <img [src]="student.picture.medium" alt="Student Picture" class="w-25 float-end d-inline-block">

      <!-- NAME -->
      <div class="card-title">
        {{ buildNameLine(student) }}
      </div>

      <!--ADDRESS-->
      <div class="card-text">
        {{ buildAddressLine(student) }}
      </div>

    </div>

  </div>
</ng-container>
